<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<div th:fragment="papasStep">
        <div class="container-fluid">
            <div class="row">

                <div style="float: left; position: relative; margin-right: 2%">
                    <div class="todrag">
                    <table id="maintable">
                        <tr>
                            <th></th>
                            <th>A</th>
                            <th>Б</th>
                            <th>В</th>
                            <th>Г</th>
                            <th>Д</th>
                            <th>Е</th>
                            <th>Ж</th>
                            <th>З</th>
                            <th>И</th>
                            <th>К</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><div class="items" id="1and1"> </div></td>
                            <td><div class="items" id="1and2"> </div></td>
                            <td><div class="items" id="1and3"> </div></td>
                            <td><div class="items" id="1and4"> </div></td>
                            <td><div class="items" id="1and5"> </div></td>
                            <td><div class="items" id="1and6"> </div></td>
                            <td><div class="items" id="1and7"> </div></td>
                            <td><div class="items" id="1and8"> </div></td>
                            <td><div class="items" id="1and9"> </div></td>
                            <td><div class="items" id="1and0"> </div></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><div class="items" id="2and1"> </div></td>
                            <td><div class="items" id="2and2"> </div></td>
                            <td><div class="items" id="2and3"> </div></td>
                            <td><div class="items" id="2and4"> </div></td>
                            <td><div class="items" id="2and5"> </div></td>
                            <td><div class="items" id="2and6"> </div></td>
                            <td><div class="items" id="2and7"> </div></td>
                            <td><div class="items" id="2and8"> </div></td>
                            <td><div class="items" id="2and9"> </div></td>
                            <td><div class="items" id="2and0"> </div></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><div class="items" id="3and1"> </div></td>
                            <td><div class="items" id="3and2"> </div></td>
                            <td><div class="items" id="3and3"> </div></td>
                            <td><div class="items" id="3and4"> </div></td>
                            <td><div class="items" id="3and5"> </div></td>
                            <td><div class="items" id="3and6"> </div></td>
                            <td><div class="items" id="3and7"> </div></td>
                            <td><div class="items" id="3and8"> </div></td>
                            <td><div class="items" id="3and9"> </div></td>
                            <td><div class="items" id="3and0"> </div></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><div class="items" id="4and1"> </div></td>
                            <td><div class="items" id="4and2"> </div></td>
                            <td><div class="items" id="4and3"> </div></td>
                            <td><div class="items" id="4and4"> </div></td>
                            <td><div class="items" id="4and5"> </div></td>
                            <td><div class="items" id="4and6"> </div></td>
                            <td><div class="items" id="4and7"> </div></td>
                            <td><div class="items" id="4and8"> </div></td>
                            <td><div class="items" id="4and9"> </div></td>
                            <td><div class="items" id="4and0"> </div></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><div class="items" id="5and1"> </div></td>
                            <td><div class="items" id="5and2"> </div></td>
                            <td><div class="items" id="5and3"> </div></td>
                            <td><div class="items" id="5and4"> </div></td>
                            <td><div class="items" id="5and5"> </div></td>
                            <td><div class="items" id="5and6"> </div></td>
                            <td><div class="items" id="5and7"> </div></td>
                            <td><div class="items" id="5and8"> </div></td>
                            <td><div class="items" id="5and9"> </div></td>
                            <td><div class="items" id="5and0"> </div></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td><div class="items" id="6and1"> </div></td>
                            <td><div class="items" id="6and2"> </div></td>
                            <td><div class="items" id="6and3"> </div></td>
                            <td><div class="items" id="6and4"> </div></td>
                            <td><div class="items" id="6and5"> </div></td>
                            <td><div class="items" id="6and6"> </div></td>
                            <td><div class="items" id="6and7"> </div></td>
                            <td><div class="items" id="6and8"> </div></td>
                            <td><div class="items" id="6and9"> </div></td>
                            <td><div class="items" id="6and0"> </div></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td><div class="items" id="7and1"> </div></td>
                            <td><div class="items" id="7and2"> </div></td>
                            <td><div class="items" id="7and3"> </div></td>
                            <td><div class="items" id="7and4"> </div></td>
                            <td><div class="items" id="7and5"> </div></td>
                            <td><div class="items" id="7and6"> </div></td>
                            <td><div class="items" id="7and7"> </div></td>
                            <td><div class="items" id="7and8"> </div></td>
                            <td><div class="items" id="7and9"> </div></td>
                            <td><div class="items" id="7and0"> </div></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td><div class="items" id="8and1"> </div></td>
                            <td><div class="items" id="8and2"> </div></td>
                            <td><div class="items" id="8and3"> </div></td>
                            <td><div class="items" id="8and4"> </div></td>
                            <td><div class="items" id="8and5"> </div></td>
                            <td><div class="items" id="8and6"> </div></td>
                            <td><div class="items" id="8and7"> </div></td>
                            <td><div class="items" id="8and8"> </div></td>
                            <td><div class="items" id="8and9"> </div></td>
                            <td><div class="items" id="8and0"> </div></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td><div class="items" id="9and1"> </div></td>
                            <td><div class="items" id="9and2"> </div></td>
                            <td><div class="items" id="9and3"> </div></td>
                            <td><div class="items" id="9and4"> </div></td>
                            <td><div class="items" id="9and5"> </div></td>
                            <td><div class="items" id="9and6"> </div></td>
                            <td><div class="items" id="9and7"> </div></td>
                            <td><div class="items" id="9and8"> </div></td>
                            <td><div class="items" id="9and9"> </div></td>
                            <td><div class="items" id="9and0"> </div></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td><div class="items" id="0and1"> </div></td>
                            <td><div class="items" id="0and2"> </div></td>
                            <td><div class="items" id="0and3"> </div></td>
                            <td><div class="items" id="0and4"> </div></td>
                            <td><div class="items" id="0and5"> </div></td>
                            <td><div class="items" id="0and6"> </div></td>
                            <td><div class="items" id="0and7"> </div></td>
                            <td><div class="items" id="0and8"> </div></td>
                            <td><div class="items" id="0and9"> </div></td>
                            <td><div class="items" id="0and0"> </div></td>
                        </tr>
                    </table>
                    </div>
                </div>


                <div style="float: left; position: relative; margin-left: 40px">
                        <div>
                            <div class="spaser1 hidden-md hidden-lg hidden-sm"></div>
                            <p style="font-family: sans-serif; font-size: 130%; padding-left: 10px">Бери и двигай </p>
                        </div>
                        <div class="shipsy">
                            <div class="spaser2"></div>
                            <div id="ship4" class="draggable ship4">
                                <table>
                                    <tr>
                                        <td><div class="appoints"> </div></td>
                                        <td><div class="appoints"> </div></td>
                                        <td><div class="appoints"> </div></td>
                                        <td><div class="appoints"> </div></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="shipsy">
                            <div class="spaser2"></div>
                            <div id="ship31" class="draggable ship3">
                                <table>
                                    <tr>
                                        <td><div class="appoints"> </div></td>
                                        <td><div class="appoints"> </div></td>
                                        <td><div class="appoints"> </div></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="shipsy">
                            <div class="spaser2"></div>
                            <div id="ship32" class="draggable ship3">
                                <table>
                                    <tr>
                                        <td><div class="appoints"> </div></td>
                                        <td><div class="appoints"> </div></td>
                                        <td><div class="appoints"> </div></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="shipsy">
                            <div class="spaser2"></div>
                            <div id="ship21" class="draggable ship2">
                                <table>
                                    <tr>
                                        <td><div class="appoints"> </div></td>
                                        <td><div class="appoints"> </div></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="shipsy">
                            <div class="spaser2"></div>
                            <div id="ship22" class="draggable ship2">
                                <table>
                                    <tr>
                                        <td><div class="appoints"> </div></td>
                                        <td><div class="appoints"> </div></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="shipsy">
                            <div class="spaser2"></div>
                            <div id="ship23" class="draggable ship2">
                                <table>
                                    <tr>
                                        <td><div class="appoints"> </div></td>
                                        <td><div class="appoints"> </div></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="shipsy">
                            <div class="spaser2"></div>
                            <div id="ship11" class="draggable ship1">
                                <table>
                                    <tr>
                                        <td><div class="appoints"> </div></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="spaser3"></div>
                            <div id="ship12" class="draggable ship1" style="margin-left: 0;">
                                <table>
                                    <tr>
                                        <td><div class="appoints"> </div></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    <div class="shipsy">
                        <div class="spaser2"></div>
                        <div id="ship13"  class="draggable ship1">
                            <table>
                                <tr>
                                    <td><div class="appoints"> </div></td>
                                </tr>
                            </table>
                        </div>
                        <div class="spaser3"></div>
                        <div id="ship14" class="draggable ship1" style="margin-left: 0;">
                            <table>
                                <tr>
                                    <td><div class="appoints"> </div></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row" style="margin-top: 30px; clear: both">

                <!  - Выход из программы     >
                <a th:href="@{/goout}" class="btn btn-primary" style="margin-left:40px; margin-bottom: 20px" role="button">Выход</a>
                <button id="gofuther" onclick="sendJSONtoServer()" style="margin-left:40px; margin-bottom: 20px; visibility: hidden" class="btn btn-primary" type="button">Вперед</button>

            </div>
        </div>
</div>


</html>
